@charset "utf-8";  
/*页脚*/
.footer{
	font-size:12px;
	width:100%;
	position:absolute;
	bottom:0px;
	left:0px;
	height:40px;
	line-height:40px;
	border-top: 1px solid #F2EEE8;
	background-color:#FFF;
	opacity:0.95;
}