@charset "utf-8";

/*-----------------------------------------------------------------------------*/
/*	重置常用元素 */
/*-----------------------------------------------------------------------------*/
html, body, div, p, 
h1, h2, h3, h4, h5, h6, 
form, input, textarea, 
ul, ol, li, 
dl, dt, dd, 
i 
{
	font-size:14px; 
	font-style:normal; 
	font-weight:normal;
	font-family:"微软雅黑";
	margin:0; 
	padding:0;
	list-style:none;
}

/*-----------------------------------------------------------------------------*/
/*	重置列表 */
/*-----------------------------------------------------------------------------*/
ul, ol, li,
dl, dt, dd {
	list-style-image:none; 
	list-style-position:outside; 
	list-style-type:none;
}

/*-----------------------------------------------------------------------------*/
/* 	重置img */
/*-----------------------------------------------------------------------------*/
img {
	border:none;
	display:inline-block; 
}

/*-----------------------------------------------------------------------------*/
/*	重置table */
/*-----------------------------------------------------------------------------*/
table {
	border-collapse:collapse; 
	border-spacing:0;
}
table th {
	font-weight:normal;
	text-align:left;
}

/*-----------------------------------------------------------------------------*/
/*	重置表单元素 */
/*-----------------------------------------------------------------------------*/
textarea{ 
	border:none; 
	resize: none;
}

input{
	font-size:100%;
	vertical-align:middle;
}

/*-----------------------------------------------------------------------------*/
/*	重置图标元素 */
/*-----------------------------------------------------------------------------*/
em,i{
	font-style:normal; 
	font-weight:normal;
}

/*-----------------------------------------------------------------------------*/
/*	重置地址引用等元素 */
/*-----------------------------------------------------------------------------*/
address, cite, dfn, em, var {
    font-style: normal;
}

/*-----------------------------------------------------------------------------*/
/*	重置分割线 */
/*-----------------------------------------------------------------------------*/
hr{
	border:0; 
	height:1px;
}
