<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title></title>
	<% include("/common/css.html"){} %>
</head>
<body>
	<% include("/common/header.html"){} %>
<div class="mblock">
	<div class="panel">
	    <div class="title">星空 v1.00框架介绍</div>
	    <div class="content">
            <p>欢迎使用星空 v1.00框架。<br/>
	        星空 v1.00框架主要使用了以下组件组合而成，目的是打造一个快速开发API开发工具。<br/>
	        </p>
	        <br/>
	        <h1>技术栈选型</h1>
	        <ul>
	            <li><a href="#" target="_blank">spring boot 2.1.4.RELEASE</a></li>
	            <li><a href="http://www.mybatis.org/mybatis-3/zh/index.html" target="_blank">mybatis</a></li>
	            <li><a href="https://pagehelper.github.io/" target="_blank">mybatis pagehelper</a></li>
	            <li><a href="https://redis.io/" target="_blank">redis</a></li>
	            <li><a href="http://shiro.apache.org/" target="_blank">shiro</a></li>
	            <li><a href="http://ibeetl.com/guide/#beetl" target="_blank">beetl</a></li>
	            <li><a href="http://activemq.apache.org/" target="_blank">activemq</a></li>
	            
	        </ul>
	        <br/>
	        <h1>开发环境准备</h1>
	        <ul>
	            <li><a href="#">安装 JAVA</a></li>
	            <li><a href="#">安装 Maven</a></li>
	            <li><a href="#">安装 Eclipse</a></li>
	            <li><a href="#">安装 Svn</a></li>
	            <li><a href="#">安装 Redis</a></li>
	            <li><a href="#">安装 Navicat</a></li>
	            <li><a href="#">安装 Xshell</a></li>
	            <li><a href="#">安装 ActiveMq</a></li>
	        </ul>
	        
	        <br/>
	        <h1>常见问题</h1>
	        <ul>
	            <li><a href="#"></a></li>
	            <li><a href="#"></a></li>
	            <li><a href="#"></a></li>
	            <li><a href="#"></a></li>
	            <li><a href="#"></a></li>
	            <li><a href="#"></a></li>
	            <li><a href="#"></a></li>
	            <li><a href="#"></a></li>
	        </ul>
        </div>
	</div>
</div>

    <% include("/common/footer.html"){} %>
	<% include("/common/js.html"){} %>
</body>
</html>